body {
    font-family: "Lato", sans-serif;

  }

  .sidenav {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    right: 0;
    background-color: #dcdcdce0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* margin-top: 62px; */

  }

  .sidenav a {
    padding: 8px 8px 8px 3px;
  text-decoration: none;
  font-size: 25px;
  color: #4f4f4f;
  display: block;
  transition: 0.3s;
  text-align: center;
  
  /* border-left-style: solid;
  border-left-width: thin;
  border-left-color: darkgray; */
  }
  .active a:hover {
    color: black;
    background-color: gray;

  }
  .active {
    /* color: black;
    background-color: rgba(231, 210, 210, 0.836);
  }
  #active[_ngcontent-pxf-c184] { */
    /* color: black; */
    /* border-color: white; */
    /* border-width: thick;

    background-color: rgba(255, 249, 249, 0.97);
    border-style: solid;
    border-left-style: none;
     */
     color: rgb(20, 20, 20);
     background-color: rgb(199, 199, 199);
    }
  .sidenav a:hover {
    color: black;
    background-color: rgba(128, 128, 128, 0.671);
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main1 {
    transition: margin-left .5s;
    padding: 62px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 0;
    /* margin-top: 62px; */

  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }
a
{
  
    border-bottom-style: groove;
    border-color: rgba(255,255,255,.15);
}


p{
    text-align: center;
    font-size: x-large;
    /* background-color: lightgray; */
    margin-bottom: unset;
    color: #dc3545;
    
    border-bottom-style: solid;
    /* border-bottom-width: thin; */
    border-bottom-color: darkgray;
}






li{
    text-decoration-style: none;
    margin-bottom: 20%;
    list-style-type: none;
    border-bottom-style: solid;
    /* border-bottom-width: thin; */
    border-bottom-color: darkgray;
/* 
    border-style: inset;
    border-left-style: none;
    border-right-style: outset; */
}

/* ul {
  list-style-type: none;
} */