body{
    direction: rtl;
    text-align: center;
}
a{
    direction: rtl;
    align-self: center;
}
div{
    direction: rtl;
    align-self: center;
    text-align: center;
    /* height: 10vh; */
    width: 10vw;
    display: inline-block;
    font-size: 3vh;
    color: deeppink;
}
.btn-secondary{
    margin-bottom: 3vh;
}
/* #header{
    width: 100vw;   
    height: 10vh;
    text-align: center; */
/* } */
#tyuo{
    margin: 0px;
}
html{
    height: 0%;
}
.example-full-width {
    direction: ltr;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

::ng-deep.mat-dialog-container {
    /* padding: 0px !important; */
    background-color: #343a40 !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-flex {
    direction: ltr;

}
::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{background-color: rgb(209, 5, 39) !important}
::ng-deep.mat-input-element{caret-color: rgb(209, 5, 39) !important}
::ng-deep.mat-form-field.mat-focused .mat-form-field-label{color: rgb(209, 5, 39)}
::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{color: rgb(209, 5, 39) !important}

::ng-deep.mat-form-field.mat-focused {color: rgb(116, 0, 19) !important}
::ng-deep.mat-datepicker-toggle-active{color:rgb(209, 5, 39) !important;}
::ng-deep.mat-calendar-body-selected{background-color:rgb(209, 5, 39);color:#fff}

/* ::ng-deep.mat-primary {color:rgb(209, 5, 39) !important;} */

::ng-deep.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after{color:#eeff00 !important}


::ng-deep.mat-flat-button.mat-primary,.mat-raised-button.mat-primary,.mat-fab.mat-primary,.mat-mini-fab.mat-primary{background-color:#eeff00  !important;}


 
::ng-deep.mat-badge-content{color:#fff;background:#eeff00}
::ng-deep.mat-primary .mat-pseudo-checkbox-checked,.mat-primary .mat-pseudo-checkbox-indeterminate{background:#eeff00}
::ng-deep.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{background-color:#eeff00;color:#fff !important;}









  
::ng-deep.mat-icon.mat-primary{color:#eeff00 !important;}
::ng-deep.mat-step-header .mat-step-icon-selected,.mat-step-header .mat-step-icon-state-done,.mat-step-header .mat-step-icon-state-edit{background-color:#eeff00 !important;color:#fff}
  
  
  
  
  
  

.mat-progress-spinner circle,.mat-spinner circle{stroke:rgb(209, 5, 39)}
.mat-progress-bar-fill::after{background-color:rgb(209, 5, 39)}
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{border-color:rgb(209, 5, 39)}
.mat-radio-button.mat-primary .mat-radio-inner-circle,.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple{background-color:rgb(209, 5, 39)}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow{color:rgb(209, 5, 39)}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb{background-color:rgb(209, 5, 39)}
.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element{background-color:rgb(209, 5, 39)}



















/* 3f51b5 */


.mat-primary .mat-slider-track-fill,.mat-primary .mat-slider-thumb,.mat-primary .mat-slider-thumb-label{background-color:rgb(209, 5, 39)}






.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar{background-color:rgb(209, 5, 39)}

.mat-tab-group.mat-background-primary .mat-tab-header,.mat-tab-group.mat-background-primary .mat-tab-links,.mat-tab-group.mat-background-primary .mat-tab-header-pagination,.mat-tab-nav-bar.mat-background-primary .mat-tab-header,.mat-tab-nav-bar.mat-background-primary .mat-tab-links,.mat-tab-nav-bar.mat-background-primary .mat-tab-header-pagination{background-color:rgb(209, 5, 39)}

.mat-toolbar.mat-primary{background:rgb(209, 5, 39);color:#fff}






