<body style="height: 0vw;">
  <h1 id="tyuo">השבת אבידה</h1>

</body><router-outlet></router-outlet> 
<!-- <p>ב"ה רשימת התוצאות הגיעה לקומפוננטת תוצאה אך לא הספקתי להציג זאת ברשימה (אפשר לקחת מהאתר primeNG צורה יפה של טבלה</p>
<p>2. יש להשתמש בריפלייס כמו איבנט המיטור המורה הראתה זאת בשיעור בשביל הבעיה:</p>
<p>----------------------------------------</p>
<p>יש לבדוק איך אפשר להשתמש בsubscribe גם לא בקריאת get</p>
<p>רשימת התוצאות לא מוצגת ומאותחלת בנל</p>
<p>search/result  search/searchInLosts </p> -->
